@media (min-width: 468px) {
  .container-1 {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.box-1 {
  border: 1px #ccc solid;
  margin: 2px;
  padding: 10px;
}
.box-2 {
  border: 1px rgb(3, 3, 3) solid;
  margin: 10px;
}
.box-2 div {
  border: 1px rgb(3, 3, 3) solid;
  /* margin: 10px; */
  padding: 10px;
}
.box-3 {
  border: 1px rgb(3, 3, 3) solid;
  /* margin: 10px; */
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
.box-3 img {
  width: 80%;
}
.box-3-div1 {
  flex-grow: 0;
  flex-shrink: 0;
  width: 200px;
}

.imageGrid {
  border: 2px rgb(139, 137, 137) solid;
  margin: 2px;
  padding: 10px;
  /* height: 350px; */
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
